.button {
  width: 279px;
  height: 50px;
  padding: 15px 69px 15px 64px;
  background-color: var(--bright-blue);
  font-weight: bold;
  color: var(--white);
  font-size: 15px;
  border-radius: 11px;
  cursor: pointer;
  box-shadow: 0 20px 20px 0 rgba(13, 45, 186, 0.19);
  transition: all .2s ease;

  &:hover {
    background-color: var(--hover);
    transition: all .2s ease;
  }

  @media screen and (min-width: 1440px) {
    width: 354px;
    padding: 15px 102px 15px 102px;
  }
}