.plan {
  width: 279px;
  height: 81px;
  display: flex;
  margin-bottom: 24px;
  padding: 17px 16px 16px 16px;
  background-color: var(--very-pale-blue);
  border-radius: 11px;
  align-items: center;

  &__info {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 20px;

    &-name {
      color: var(--dark-blue);
      font-size: 14px;
      font-weight: 900;
    }

    &-price {
      font-size: 14px;
      font-weight: 500;
      color: var(--desaturated-blue);
    }
  }

  &__link {
      font-size: 13px;
      font-weight: bold;
      color: var(--bright-blue);
      transition: all .2s ease;

    &:hover {
      color: var(--hover);
      text-decoration: none;
      transition: all .2s ease;
    }

      &:visited {
        color: var(--bright-blue);
      }
    }

  @media screen and (min-width: 1440px) {
    width: 354px;
    height: 98px;
    margin-bottom: 32px;
    padding: 25px 24px 25px 24px;

    &__info {
      width: 92px;
      height: 48px;
      margin: 0 94px 0 20px;

      &-name {
        font-size: 1rem;
      }

      &-price {
        font-size: 1rem;
      }
    }

    &__link {
      font-size: 14px;
    }
  }
}